<!DOCTYPE html>
<html>
<head>
	<title>
		
	</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
	{% extends "base.html" %}

	{% block content %}
	<div class="list-group" style="padding: 20px; margin: 30px">
		{% if result_dict==null %}
		<p>no projects</p>
		{% else %}
			{% for pro in result_dict %}
			<div class="accordion" id="accordionExample">
					
						  	<a href="#" class="list-group-item list-group-item-action acive">
						    	<div class="d-flex w-100 justify-content-between">
						      	<h5 class="mb-1">{{ pro.project_name }}</h5>
						      	<small>3 days ago</small>
						    	</div>
						    <p class="mb-1">{{pro.pro_domain}}</p>
						    <small>{{pro.pro_specification}}</small>
						  	</a>

  			</div>

			{% endfor %}
		{% endif %}

{% endblock %}
</body>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</html>