<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="jumbotron">
  <h3  class="display-4"><b>Project Title</b></h3>
    <div class="form-group">
    <label for="exampleFormControlInput1">Given by...</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="enter name">
    </div>

    <div class="form-group">
    <label for="exampleFormControlTextarea1">Description</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>

     <hr class="my-4">

     <div class="form-group">
    <label for="exampleFormControlSelect1">Submission</label>
    <select class="form-control" id="exampleFormControlSelect1">
      <option>1 Month</option>
      <option>3 Months</option>
      <option>6 Months</option>
    </select>
    </div>

    <div class="form-group">
    <label for="exampleFormControlInput1">Cost</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="cost to be paid">
    </div>

     <div class="form-group">
    <label for="exampleFormControlTextarea1">points to remember</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="4"></textarea>
    </div>

    <div class="form-group">
    <label for="exampleFormControlInput1">Reference</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="ex:github@.com">
    </div>


  <hr class="my-4">

  <a class="btn btn-primary btn-lg" href="#" role="button">SUBMIT</a>
</div>
</body>
</html>